body {
	font-size: 16px;
	
	background-color: #61122f;
}


.navbar-brand {
	padding-top: 25px;
}


.navbar-brand span {
	font-family: Algerian;
	color: #5573ce;
	
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	margin-left: 100px; 
}


.navbar-brand a:hover , .navbar-brnad a:focus {
	text-decoration: none;
}

@media (min-width: 565px)
{
	.navbar-toggler {
		display: none;
	}
}


.navbar-toggler span {
	border: 1px solid black;
}

.nav-item  span {
	color: #951C49;
	text-align: center;
}

.nav-item a:hover {
	background: #E7E7E7;

}

.nav-item a span {
	font-size: 1.8em;

}

#phone {
	margin-top: 5px;
}

#phone a {
	text-align: right;
	padding-bottom: 0;
}